/* Custom navbar style */
nav {
    background-color: #2D3540;
}

/* Custom footer style */
footer.page-footer {
    background-color: #2D3540 !important;
    color: white !important;
    padding: 10px 0 !important;
    text-align: center !important;
}

/* Custom button style */
.btn-custom {
    background-color: #5DBF4E;
    color: white;
}

.btn-custom:hover {
    background-color: #20733D;
}

/* Custom form input style */
input[type=text], input[type=password], input[type=email], textarea {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0 10px;
    width: 100%;
}

.datepicker {
    width: 100%;
}

/* Custom heading styles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Hachi Maru Pop', cursive;
}

/* Custom card style */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) !important;
}

/* Custom alert message styles */
.alert-success {
    background-color: #d4edda !important;
    color: #155724 !important;
    padding: 10px !important;
    margin-bottom: 20px !important;
}

.alert-danger {
    background-color: #f8d7da !important;
    color: #721c24 !important;
    padding: 10px !important;
    margin-bottom: 20px !important;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    nav .brand-logo {
        font-size: 1.5rem !important;
    }

    .card {
        margin: 10px 0 !important;
    }
}
