/* Custom navbar style */
nav {
    background-color: #003049;
}

/* Custom footer style */
footer.page-footer {
    background-color: #003049 !important;
    color: white !important;
    padding: 10px 0 !important;
    text-align: center !important;
}

/* Custom button style */
.btn-custom {
    background-color: #60d394 !important;
    color: white !important;
}

.btn-custom:hover {
    background-color: #aaf683 !important;
}

.btn-red {
    background-color: #c71f37 !important;
    color: white !important;
}

.btn-red:hover {
    background-color: #e01e37 !important;
}

/* Custom form input style */
input[type=text], input[type=password], input[type=email], textarea {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0 10px;
    width: 100%;
}

.datepicker {
    width: 100%;
}

/* Custom heading styles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
}

/* Custom card style */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) !important;
}

/* Custom alert message styles */
.alert-success {
    background-color: #FDF0D5 !important;
    color: #155724 !important;
    padding: 10px !important;
    margin-bottom: 20px !important;
}

.alert-danger {
    background-color: #FDF0D5 !important;
    color: #780000 !important;
    padding: 10px !important;
    margin-bottom: 20px !important;
}

/* Custom card action style */
.card-action a {
    color: #000066 !important;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    nav .brand-logo {
        font-size: 1.5rem !important;
    }

    .card {
        margin: 10px 0 !important;
    }
}
