{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2 class="center-align">Add New Book</h2>
    <form method="POST" action="{{ url_for('add_book') }}">
        {{ form.hidden_tag() }}
        <div class="input-field">
            {{ form.title.label }}
            {{ form.title(class="validate") }}
            {% for error in form.title.errors %}
                <span class="helper-text red-text">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="input-field">
            {{ form.author.label }}
            {{ form.author(class="validate") }}
            {% for error in form.author.errors %}
                <span class="helper-text red-text">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="input-field">
            {{ form.genre.label }}
            {{ form.genre(class="validate") }}
        </div>
        <div class="input-field">
            {{ form.publication_date.label }}
            <input type="text" id="publication_date" name="publication_date" class="datepicker">
        </div>
        <div class="input-field">
            {{ form.isbn.label }}
            {{ form.isbn(class="validate") }}
        </div>
        <div class="input-field">
            {{ form.cover_image_url.label }}
            {{ form.cover_image_url(class="validate") }}
        </div>
        <button type="submit" class="btn waves-effect waves-light">Add Book</button>
    </form>
</div>
{% endblock %}
