{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2 class="center-align">Login</h2>
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <div class="input-field">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="input-field">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="input-field">
            <label>
                {{ form.remember() }}
                {{ form.remember.label }}
            </label>
        </div>
        <div class="input-field">
            {{ form.submit(class="btn waves-effect waves-light") }}
        </div>
    </form>
</div>
{% endblock %}
